extends layout

block content
  header.black-bg.table-row
    .text H
  div.content.gray-bg.table-row.text-center.tablet-view
    .a.green-bg.desktop-view
      .text A
      .d.darkgreen-bg.inner-block-desktop-view
        .text D
      .d.darkgreen-bg.inner-block-desktop-view
        .text D
    .b.blue-bg.desktop-view.text B
  footer.darkblue-bg.table-row
    .text C
